{% if messages %}
{% for message in messages %}
{% if message.type == 'error' %}
<div class="alert alert-danger">
    {{message }}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% elif message.tags == 'success' %}
<div class="alert alert-success">
    {{message }}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% elif message.tags == 'warning' %}
<div class="alert alert-warning">
    {{message }}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endif %}
{% endfor %}
{% endif %}